
.table_container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.ag-theme-alpine{
  width: 100%;
  height: 100%;
  margin: 0 auto;


}

.ag-center-cols-container {
    min-width: 100%;
}

.table_container_top{
  display: flex;
  width: 62.5em;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blue; */
  padding: 0 90px;
  height: 50px;
  background-color: white;
}

.table_container_bottom{
  width: 100%;
  /* border: 2px solid red; */

}


